# 这里填入你的Sleepy实例地址和密钥
URL="http://example.com/device/set"
SECRET=""
# 自定义设备名 不填则使用Modelname
DEVICE_NAME=""
# 自定义设备ID
DEVICE_ID=0
LOG_NAME="monitor.log"
CACHE="${SCRIPT_DIR}/cache.txt"
# 自定义游戏包名（以空格分隔）
GAME_PACKAGES="com.tencent.tmgp.speedmobile com.miHoYo.Yuanshen com.tencent.tmgp.sgame com.tencent.tmgp.supercell.clashofclans com.netease.sky.m4399"